.castList {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.castItem {
    width: 200px;
    height: 400px;
    margin: 10px;
    background: #f5f5f5;
    border-radius: 20px;
}

.castImage {
    display: block;
    margin-bottom: 1rem;
    border-radius: 20px 20px 0 0;
}

.castName {
    padding: 10px 10px;
    margin: 0;
}

.castListEmpty {
    margin-top: 30px;
    text-align: center;
}